.overlay {
  fill: none;
}

.country {
  fill: #9C9C9C;
}

.state {
  fill: #cccccc;
}

.state:hover {
  fill: orange;
  pointer-events: inherit;
}

.country:hover {
  fill: #CFDB7F;
  pointer-events: inherit;
}

.static {
  fill: #9C9C9C;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.stateb {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#country-840 {
  fill: none;
}

.edge {
  display: none;
  fill: none;
  stroke: #000;
  z-index: 100000000000000000;
}

.state:hover .edge {
  display: inline;
}

#tooltip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
    display: none;    
}

#tooltip p {
        margin: 0;
        font-family: Helvetica;
        font-size: 12px;
        line-height: 16px;
}