.overlay {
  fill: none;
}

.country {
  fill: #9C9C9C;
}

.country_destmode {
  fill: #9C9C9C;
}

.state {
  fill: #cccccc;
}

.state:hover {
  fill: #BD6E00;
  pointer-events: inherit;
}

.country:hover {
  fill: #BD6E00;
  pointer-events: inherit;
}

.static {
  fill: #9C9C9C;
}

label {
  font-family: Helvetica;
  font-size: 11pt;
  color: #9C9C9C;
  margin-left: 20px;
}

h1 {
  font-family: Helvetica;
  font-size: 30pt;
  color: #9C9C9C; 
  margin-left: 20px;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.stateb {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#country-840 {
  fill: none;
}

.edge {
  display: none;
  fill: none;
  stroke: #000;
  z-index: 100000000000000000;
}

.state:hover .edge {
  display: inline;
}

.axis {
    shape-rendering: crispEdges;
    font: 10px sans-serif;
}
.y.axis line {
    stroke: #ccc;
}
.y.axis path {
    display: none;
}
.colors .q0-7{fill:rgb(241,238,246)}
.colors .q1-7{fill:rgb(208,209,230)}
.colors .q2-7{fill:rgb(166,189,219)}
.colors .q3-7{fill:rgb(116,169,207)}
.colors .q4-7{fill:rgb(54,144,192)}
.colors .q5-7{fill:rgb(5,112,176)}
.colors .q6-7{fill:rgb(3,78,123)}
