.overlay {
  fill: none;
}

.country {
  fill: #9C9C9C;
}

.state {
  fill: #cccccc;
}

.state:hover {
  fill: orange;
  pointer-events: inherit;
}

.country:hover {
  fill: #A1A688;
  pointer-events: inherit;
}

.static {
  fill: #9C9C9C;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.stateb {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#country-840 {
  fill: none;
}

.edge {
  display: none;
  fill: none;
  stroke: #000;
  z-index: 100000000000000000;
}

.state:hover .edge {
  display: inline;
}